.act-like{
    border: transparent;
    background-color: transparent;
    cursor:pointer;
    width: 28px;
    height: 27px;
    
    border-radius: 50%;
}

.act-like:hover{
    background-color: #ddd;
}
.act-like:active{
    background-color: rgb(223, 65, 65);
}